{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Contáctanos{% endblock %}

{% block brand %}
<a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static 'images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
    <li class="nav-item">
        <a href="{% url 'Locales' %}" class="nav-link text-decoration-underline">Locales Comeciales</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'Nosotros' %}" class="nav-link text-decoration-underline">Sobre nosotros</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'Contacto' %}" class="nav-link text-decoration-underline">Contacto</a>
    </li>

    <div class="ms-auto">
        <a href="{% url 'Login' %}" class="nav-link text-white" title="Favoritos">
            <i class="fas fa-heart"></i>
        </a>
    </div>

    <div class="ms-auto">
        {% if request.session.user_id %}
            <a href="{% url 'LogOut' %}" title="Cerrar sesión" class="nav-link text-white">
                <i class="fas fa-right-from-bracket"></i>
            </a>
        {% else %}
            <a href="{% url 'Login' %}" class="nav-link text-white" title="Iniciar sesión">
                <i class="fas fa-user"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<section class="contact-container py-5 bg-light">
    <h1 class="text-center text-danger fw-bold mb-5" style="font-family: 'Nunito', cursive, sans-serif; font-size: 3rem;">Contáctanos</h1>
    <div class="container">
        <p class="text-muted text-center mb-4" style="font-size: 'Nunito' 2rem;">Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>

        <div class="contact-item p-4 mb-4 rounded-3 shadow-sm" style="background-color: #ffe6e6; border-left: 5px solid #ff9999;">
            <h2 class="fw-bold text-dark mb-3" style="font-size: 1.5rem;">¡Escribenos al Correo!</h2>
            <form action="mailto:contacto@nufra.com" method="POST" enctype="text/plain">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-danger w-100">Enviar Mensaje al Correo de la Empresa</button>
            </form>
        </div>
        <div class="contact-item p-4 mb-4 rounded-3 shadow-sm" style="background-color: #ffe6e6; border-left: 5px solid #ff9999;">
            <h2 class="fw-bold text-dark mb-3" style="font-size: 1.5rem;">¿Prefieres llamarnos?</h2>
            <p class="text-muted ms-3" style="line-height: 1.6;">Puedes llamarnos al siguiente número para recibir asistencia personalizada:</p>
            <p class="fw-bold text-dark text-center" style="font-size: 1.25rem;">+56 9 2845 8056</p>
        </div>
    </div>
</section>
{% endblock %}
