{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Registrarse{% endblock %}

{% block header %}
    <div class="container-fluid text-center py-4" style="background-color: #50C878;">
        <a href="{% url 'AdminHome' %}" class="navbar-brand">
            <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="col mx-auto mt-4" style="max-width: 600px;">
        <h2 class="text-center mb-4" style="color: #4A4063;">Registrarse</h2>
        <form method="POST" class="p-4 border rounded shadow-sm bg-light">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success w-100 py-2" style="font-size: 16px;">Registrar</button>
        </form>
    </div>
{% endblock %}
