{% extends 'shared/baseIndex.html' %}
{% block title %}Ver Local Comercial{% endblock %}

{% block content %}
<section class="container py-5 bg-light">
    <h1 class="text-center text-danger fw-bold mb-5" style="font-size: 3rem;">{{ local.nombre }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ local.imagen.url }}" class="img-fluid" alt="{{ local.nombre }}">
        </div>
        <div class="col-md-6">
            <h3>{{ local.tipo_local.nombre }}</h3>
            <p><strong>Descripción:</strong> {{ local.descripcion }}</p>
            <p><strong>Ciudad:</strong> {{ local.ciudad.nombre }}</p>
            {% if local.link %}
                <a href="{{ local.link }}" class="btn btn-primary" target="_blank">Ver en Google Maps</a>
            {% else %}
                <p>No disponible</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
